<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container-fluid">
      <div class="row fun">
        <div class="col-12 col-md-3">
          <%= link_to root_path, class: 'logo text-center text-md-left' do %>
          <%= image_tag 'splurty.svg', class: 'image-fluid py-md-3 pt-3' %>
          <% end %>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-0 slogan text-center pt-md-5 pt-2">
          <p class="ap">Splurting out the first thing that comes to mind...</p>
        </div>
        <div class="col-12 col-md-3 links text-center  pt-md-5 pb-3 pt-0 pb-md-0 pt-md-3">
          <!-- Button trigger modal -->
          <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
          &nbsp;&nbsp;
          <%= link_to 'About', about_path %>
        </div>
      </div>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Contribute Your Favorite Quote</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
      <%= simple_form_for Quote.new do |f| %>
        <div class="modal-body">
            <%= f.input :saying, label: 'What is the saying you want to add?', placeholder: 'Fear is the disease. Hustle is the antidote.' %>
            <br />
            <%= f.input :author, label: 'Who said it?', placeholder: 'Travis Kalanick' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create', class: 'btn btn-danger' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
    <hr />
 
  <div class="container">
    <% if flash[:error].present? %>
      <div class=" col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <div class="clear"></div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 footer-blurb text-center text-md-left">
            <%= link_to "Same Day, Different Quote", root_path, class: 'next-quote' %><br /><br />
            Proudly hacked by <a href="stefanisaia.netlify.com">Stefan Isaia</a><br />
        </div>
      </div>
    </div>
  </div>
  <div class="page-bod h-100"></div>
</body>
</html>
